[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "posts"]
	path = posts
	url = git@github.com:rabajaj0509/rabajaj0509.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:rabajaj0509/rabajaj0509.github.io.git
	branch = master
